@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

header {
    max-width: 80%;
    margin: 0 auto; 
    padding: 0 5%; 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 3em; 
    height: 3em;
    margin-right: 0.5em;
}

.logo-text {
    font-size: 2em;
    color: rgb(24, 96, 74);
    font-family: Arima, Arial, Helvetica, sans-serif
}

.nav-container {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 2em; /* Espacio entre los elementos del menú */
}

nav a {
    color: rgb(24, 96, 74);
    text-decoration: none;
    font-size: 1em;
    position: relative;
}

nav a:hover {
    border-bottom: 2px solid rgb(24, 96, 74); 
}


.search-container {
    border: 0.2em solid rgb(24, 96, 74);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em; 
}

.search-container img {
    width: 1.5em;
    height: 1.5em;
}



.inicio-section {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    background-image: url('/img/inicio.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding: 5em 10%; 
    color: rgb(24, 96, 74);
    text-align: center; 
    margin-top: 2em;
}

.incio-content h1 {
    font-size: 2.5em; 
    margin: 0 0 1em; 
}

.inicio-content p {
    font-size: 1.125em; 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px; 
}

.inicio-container {
    display: flex; 
    justify-content: center; 
    text-decoration-color: white;
}

main {
    max-width: 75%; 
    margin: 0 auto; 
    padding: 0 10%; 
}

.recipes {
    display: flex;
    flex-direction: column; 
    gap: 1.25em; 
    margin-bottom: 20px;
    margin-top: 2em;
}

.recipes h2 {
    color: rgb(24, 96, 74);
    margin-bottom: 0; 
    font-family: Domine,Arial, Helvetica, sans-serif;
    font-size: 27px;
}

.recipes p {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.recipe-grid {
    display: flex;
    flex-direction:row;
    gap: 1.25em; /* Espacio entre las recetas */
    padding: 0.5em; 
    flex-wrap: wrap;
    align-items: stretch;
}

.recipe {
    border: 2px solid #004225; 
    border-radius: 5px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    flex-basis: calc(33.333% - 1.25em);
}

.recipe-image {
    width: 100%; 
    height: 12.5em; 
    object-fit: cover; 
}

.recipe-info {
    background-color: #4aa0aa60; 
    color: #515961d8; 
    padding: 5px; 
    text-align: center; 
    flex-grow: 1; 
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-title {
    margin: 0;
    font-size: 1em;
    padding: 0.625em 0;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-button {
    display: inline-block;
    padding: 0.625em 1em;
    background-color: rgba(24, 96, 74, 0.703); 
    color: white;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 0.875em; 
    margin-top: auto;
}

.recipe-button:hover {
    background-color: rgba(255, 140, 0, 0.878); 
}

.form {
    background-color: white;
    padding: 0px;
    margin-top: 40px;
    border-radius: 0px;
    text-align: left; 
    position: relative;
    font-family: Arial, sans-serif;
    font-style:normal;
}

.form fieldset{
    position: relative;
    width: 100%;
    max-width: 50%;
    margin: 0;
    color: black;
    border-color: rgb(24, 96, 74);
    font-family: Arial, sans-serif;
    font-style: normal;
    text-align: initial;
}

.form h2 {
    color: rgba(255, 140, 0, 0.878);
    font-family: Domine,Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

.form-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.enviar-button {
    position: absolute;
    right: 3%; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(255, 140, 0, 0.878);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5em 1.3em;
    font-size: 1.125em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    
}

.enviar-button:hover {
    background-color: rgba(255, 140, 0, 1); /* Cambio de color al pasar el mouse */
}

.opiniones {
    padding: 2em;
    text-align: center;
    background-color: #387c8360; 
    margin-top: 3em;
}

.opiniones h2 {
    font-family: Domine,Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: rgb(20, 66, 52);
}

.opinion-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.opinion {
    position: relative;
    padding: 2em;
    background-color: white;
    border: 0.2em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
}

.opinion-texto {
    font-size: 1em; /* Relativo al tamaño de fuente base */
    color: #333;
    margin: 0;
}

.opinion-autor {
    position: absolute;
    bottom: 0.5em; 
    right: 0.5em; 
    font-size: 0.875em;
    font-style: italic;
    color: #666;
    margin: 0;
}


footer .community-section {
    background-image:url(/img/collage.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 100px 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: white; 
    width: 100%; 
    margin: 0; 
    margin-bottom: 0;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 50px;
}


footer .community-content {
    background-color: rgba(249, 168, 54, 0.799); 
    padding: 20px;
    text-align: center;
    max-width: 600px; 
    border-radius: 5px;
    width: 100%; 
}

footer .community-content h3 {
    font-size: 20px; 
    margin-bottom: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

footer .community-content p {
    font-size: 18px; 
    margin-bottom: 30px; 
}

.join-button {
    background-color: rgb(249, 168, 54); 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    border-color: black;
    transition: background-color 0.3s; 
}

.join-button:hover {
    background-color: rgb(24, 96, 74); 
}

footer .piedepag{
    text-align: right;
    padding: 50px;
    background-color: rgba(21, 83, 64, 0.903);
    border-top: none;
    color: white;
    margin-top: 0;
    margin: 0;
}
footer .derechos {
    text-align: center;
}

.social-media {
    text-align: left;
    margin: 0px;
}

footer .social-media a {
    margin: 0px; 
}

.social-icon {
    color: white;
    display: flex;
    gap: 15px; /* Espacio entre los iconos */
    bottom: none;
    margin-left: 10px;
    
}

@media (max-width: 768px) {
    .logo {
        width: 2.5em;
        height: 2.5em;
    }

    .logo-text {
        font-size: 1.5em;
    }

    .inicio-section {
        padding: 3em 5%;
    }

    .inicio-content h1 {
        font-size: 2em;
    }

    nav {
        gap: 1em;
    }

    .search-container {
        width: 2.5em;
        height: 2.5em;
    }

    .recipes {
        gap: 1em;
    }

    .recipe {
        flex-basis: calc(50% - 1em);
    }

    .recipe-title {
        font-size: 0.875em;
    }

    .recipe-button {
        padding: 0.5em;
        font-size: 0.75em;
    }

    .form fieldset {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        padding-right: 2em; /* Espacio para el botón */
    }

    .enviar-button {
        padding: 1em 1em; /* Reduce padding en pantallas pequeñas */
        font-size: 1em;
        height: auto;
        right: 1em;
    }
}

/* Pantallas pequeñas */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 1em;
    }

    .logo {
        width: 2em;
        height: 2em;
    }

    .logo-text {
        font-size: 1.25em;
    }

    nav {
        flex-direction: column;
        gap: 0.5em;
    }

    .inicio-section {
        padding: 2em;
    }

    .inicio-content h1 {
        font-size: 1.5em;
    }

    .recipe {
        flex-basis: 100%;
    }

    .recipe-title {
        font-size: 0.875em;
    }

    .recipe-button {
        padding: 0.5em 0.75em;
        font-size: 0.75em;
    }

    .opinion {
        max-width: 100%;
        padding: 1.5em;
    }

    .enviar-button {
        background-color: rgba(255, 140, 0, 0.878);
        color: white;
        border-radius: 5px;
        border: none;
      }
}
